
/* UserMenu */

.menu {
    /* width: 15%; */
}

.menu-admin {
    display: flex;
    /* position: fixed; */
    /* width: 100%; */
}
.menu-header {
    display: flex;
    padding: 15px 0;
    padding-left: 15px;
    border-bottom: 0.0625rem solid #efefef;
}

.menu-header .header-left img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

.menu-header .header-right {
    padding: 0 0 0 15px;
}

.menu-header .header-right p {
    color: gray;
}




/* user-menu */

.user-menu .container {
    display: flex;
    width: 1200px;
    padding: 20px 0;
    margin-right: auto;
    margin-left: auto;
}

.user-menu {
    background: #f5f5f5
}


/* user-profile */

.user-profile,
.change-menu {
    width: 85%;
    padding: 0 30px;
    background: white;
}

.user-profile .profile-header,
.change-menu .change-header {
    padding: 18px 0;
    border-bottom: 0.0625rem solid #efefef;
}

.user-profile .profile-header p,
.user-profile .profile-header h3,
.change-header p,
.change-header h3 {
    margin: 0;
}


.user-profile .profile-body {
    display: flex;
    padding-top: 30px;
}

.user-profile .body-right img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 1.25rem 0;
    border-radius: 50%;
}

.user-profile .body-right {
    text-align: center;
    width: 17.5rem;
    border-left: 0.0625rem solid #efefef;
}

.user-profile .body-left {
    padding-right: 3.125rem;
    width: 70%;
}

.user-profile .body-left .ant-row {
    margin-bottom: 1.875rem
}

.user-profile .body-left .ant-col-6 {
    padding-right: 30px;
    text-align: right;
}

.user-profile .profile-body .body-left tr {
    height: 30px;
    margin-bottom: 1.875rem;
}


.user-profile .profile-body .ant-btn-primary {
    margin-bottom: 3.75rem;
    margin-left: calc(20% + 1.25rem);
}


/* Admin menu */

.menu-admin {
    display: flex
}

.menu-admin-left {
    width: 20%;
}

.menu-admin-right {
    width: 80%;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: inherit !important;
}


.menu-admin .ant-menu-light .ant-menu-item:hover,
.menu-admin .ant-menu-light .ant-menu-active,
.menu-admin .ant-menu-item-selected,
.menu-admin .ant-menu-submenu-selected,
.menu-admin .ant-menu-submenu-title:hover,
.menu-admin .ant-menu-light .ant-menu-submenu-active,
.menu-admin .ant-menu-submenu:hover>.ant-menu-submenu-title>.ant-menu-submenu-arrow {
    color: red !important;
}

.ant-menu-inline .ant-menu-item:after {
    border: none !important;
}