.UserPage {
    background: white;
    .header-page {
        width: 100%;
        display: flex;
        justify-content: space-between;

        // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        .left-container {
            width: 33%;

            .logo {
                img {
                    width: 300px;
                }
            }
        }

        .center-container {
            width: 33%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .right-container {
            width: 33%;
            display: flex;
            align-items: center;
            justify-content: end;
        }
    }

}